html,body,#root{
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.ant-layout{
  height: 100%;
  overflow: hidden;
}
.yarnSet{
  height: 510px;
}
:host ::ng-deep .logo {
  width: 120px;
  height: 31px;
  background: #333;
  border-radius: 6px;
  margin: 16px 28px 16px 0;
  float: left;
}
:host ::ng-deep .logo {
  height: 32px;
  background: #333;
  border-radius: 6px;
  margin: 16px;
}

:host ::ng-deep .ant-layout-sider-collapsed .nav-text {
  display: none;
}

:host ::ng-deep .ant-layout-sider-collapsed .ant-menu-submenu-title:after {
  display: none;
}

:host ::ng-deep .ant-layout-sider-collapsed .anticon {
  font-size: 16px;
  margin-left: 8px;
}
.logo{
  background: url(../../assets/images/logo.png) no-repeat center center;
  background-size: contain;
  border-radius: 0px !important;
}
.namer{
  color: #FFFFFF;
  margin-right: 12px;
}
.white{
  color: #FFFFFF !important;
}
