<form nz-form [formGroup]="validateForm" class="login-form front-pane" (ngSubmit)="_submitForm()">
  <div nz-form-item>
    <div nz-form-control [nzValidateStatus]="validateForm.controls.userName">
      <nz-input [(ngModel)]="user" formControlName="userName" [nzPlaceHolder]="'用户名'" [nzSize]="'large'">
        <ng-template #prefix>
          <i class="anticon anticon-user"></i>
        </ng-template>
      </nz-input>
      <div nz-form-explain *ngIf="validateForm.controls.userName.dirty&&validateForm.controls.userName.hasError('required')">请输入用户名</div>
    </div>
  </div>
  <div nz-form-item>
    <div nz-form-control [nzValidateStatus]="validateForm.controls.password">
      <nz-input [(ngModel)]="pwd" formControlName="password" [nzType]="'password'" [nzPlaceHolder]="'新密码'" [nzSize]="'large'">
        <ng-template #prefix>
          <i class="anticon anticon-lock"></i>
        </ng-template>
      </nz-input>
      <div nz-form-explain *ngIf="validateForm.controls.password.dirty&&validateForm.controls.password.hasError('required')">请输入新密码</div>
      <div nz-form-explain *ngIf="validateForm.controls.password.dirty&&validateForm.controls.password.hasError('confirm')">密码必须由6-12位数字加字母组成...</div>
    </div>
  </div>
  <div nz-form-item>
    <div nz-form-control  [nzValidateStatus]="getFormControl('captcha')">
      <nz-input [(ngModel)]="captcha" style="float: left;width: 50%" [nzSize]="'large'" [nzPlaceHolder]="'验证码'" formControlName="captcha" [nzId]="'captcha'"></nz-input>

      <button class="captchabtn" nz-button [nzType]="'primary'" [nzSize]="'large'" [nzLoading]="isLoadingOne" (click)="getCaptcha($event)">{{time}}</button>
      <div style="clear: both" nz-form-explain *ngIf="getFormControl('captcha').dirty&&getFormControl('captcha').hasError('required')">请输入验证码</div>
    </div>
  </div>
  <div nz-form-item>
    <div nz-form-control>
      <button nz-button class="login-form-button" [nzType]="'primary'" [nzSize]="'large'" (click)="landIn()">修改密码</button>
    </div>
  </div>
</form>



