.my-drop-zone { border: dotted 3px lightgray; }
.nv-file-over { border: dotted 3px red; } /* Default class applied to drop zones on over */
.another-file-over-class { border: dotted 3px green; }

html, body { height: 100%; }
.filegroup{
  width: 330px;
  overflow: hidden;
}
.filegroup li{
  float: left;
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 8px;
  position: relative;
  margin-right: 10px;
  margin-bottom: 10px;
}
.filegroup li img{
  width: 100px;
  height: 100px;
}
.filegroup li p{
  width: 100px;
  padding:0px 10px !important;
  background-color: rgba(0,0,0,0.8);
  color: #FFFFFF;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  z-index: 1;
}
.filegroup li div{
  width: 100px;
  height: 100px;
  background-color: rgba(0,0,0,0.8);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 20;
  overflow: hidden;
  opacity: 0;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
}
.filegroup li div span{
  cursor: pointer;
  width: 38px;
  display: block;
  height: 23px;
  position: absolute;
  top: 0;
  left:0;
  right: 0;
  bottom: 0;
  margin: auto;
  color: #FFFFFF;
  font-size: 16px;
}
.filegroup li div span{
   cursor: pointer;
   width: 40px;
   display: block;
   height: 18px;
   position: absolute;
   top: 0;
   left:0;
   right: 0;
   bottom: 0;
   margin: auto;
   color: #FFFFFF;
   font-size: 16px;
  overflow: hidden;
 }
.filegroup li div span i{
  cursor: pointer;
  width: 20px;
  height:20px;
  float: left;
}
.filegroup li div span i+i{
  cursor: pointer;
  width: 20px;
  height:20px;
  float: right;
}

.filegroup li:hover div{
  opacity:1;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
}
.filegroup li .tocenter{
  float: none !important;
  display: block;
  width: 20px;
  height: 20px;
  margin: 0 auto;
}
